<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout">
    <div layout:fragment="content" class="container-fluid">
        <h1 th:text="${game}"></h1>

        <div data-bind="visible: !isCurrentPlayerSet()">
            <label for="playerId">Enter the name of player</label>
            <input id="playerId" type="text" data-bind="textInput: playerToAdd"/>
            <button class="btn btn-info" data-bind="enable: hasValidPlayerToAdd(), click: join">Join game</button>
        </div>

        <div data-bind="visible: isCurrentPlayerSet(), foreach: players">
            <p data-bind="text: id"></p>
        </div>
    </div>

    <th:block layout:fragment="scripts">
        <script th:inline="javascript">
            window.gameName = [[${game}]];
        </script>
        <script type="text/javascript">

            function GameVM() {

                var vm = this;

                this.playerToAdd = ko.observable();
                this.players = ko.observableArray();
                this.currentPlayerId = ko.observable();

                this.hasValidPlayerToAdd = function () {
                    var playerId = vm.playerToAdd();
                    return playerId && playerId.length >= 2;
                };

                this.join = function () {
                    vm.currentPlayerId(vm.playerToAdd());
                    client.join(vm.currentPlayerId());
                    vm.playerToAdd(null);
                };

                this.addPlayer = function(player) {
                    vm.players.push(player);
                };

                this.setPlayers = function(players) {
                    vm.players.removeAll();
                    ko.utils.arrayPushAll(vm.players, players);
                };

                this.isCurrentPlayerSet = function() {
                    return !!vm.currentPlayerId();
                };
            }

            var game = new GameVM();
            var client = new GameClient(gameName);

            client.connect(function() {
                ko.applyBindings(game);
                client.onPlayersChanged(function(players) {
                    game.setPlayers(players);
                });
            });

            function GameClient(gameName) {

                var self = this;

                this.gameName = gameName;
                var socket = new SockJS('/ws');
                var stompClient = Stomp.over(socket);

                this.connect = function(callback) {
                    stompClient.connect({}, function () {
                        callback();
                    });
                };

                this.subscribe = function(event, callback) {
                    stompClient.subscribe('/topic/game/' + self.gameName + '/' + event, function(message) {
                        callback(JSON.parse(message.body));
                    })
                };

                this.onPlayersChanged = function(callback) {
                    this.subscribe('players', callback);
                };

                this.join = function(playerId) {
                    stompClient.send('/game/' + self.gameName + '/join', {}, playerId);
                };

                this.leave = function(playerId) {
                    stompClient.send('/game/' + self.gameName + '/leave', {}, playerId);
                };
            }
        </script>
    </th:block>
</div>
